body{
    background-color: #3500d3;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

#main-header{
    background-color:#190061;
    color:white;
}

#navbar{
    background-color:#240090;
    color:white;
}

#navbar ul{
    padding: 0;
    list-style:disc;
}

#navbar li{
    display:inline;
}

#navbar a{
    color:white;
    text-decoration:none;
    font-size:18px;
    padding-right:15px;
    text-decoration: underline;
}

#showcase{
    background-image:url(cnh.jpeg);
    background-position: bottom;
    height:300px;
    margin-bottom:30px;
    text-align:center;
}

#main{
    float:left;
    width:70%;
    padding:0 30px;
    box-sizing:border-box;
    color:white;
}

#sidebar{
    float:right;
    width:30%;
    background:#190061;
    color:#fff;
    padding:10px;
    box-sizing: border-box;
}

#main-footer{
    background:#190061;
    color:#fff;
    text-align:center;
    padding:20px;
    margin-top: 40px;
}

@media(max-width:600px){
    #main{
        width:100%;
        float:none;

    }

    #sidebar{
        width:100%;
        float:none;
    }
}

.github{
    position:fixed;
    top:400px;
    color:white;
    padding: 10px;
    background:black;
}